<html>
  <head>
    <title>{{ . }}</title>
  </head>

  <body>
    <h3>{{ . }}</h3>
    <form action="/post" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept="*">
      <input type="submit">
    </form>
  </body>
</html>
