<html>
  <head>
    <title>File MD5 sum</title>
  </head>
  <body>
    <h3>File MD5 sum</h3>
    <form action="/post" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept="*">
      <input type="submit">
    </form>
  </body>
</html>
