<html>
  <head>
    <title>File MD5 sum</title>
    <style>
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <h3>File MD5 sum</h3>
      <p>MD5 Sum for file <b><%= params[:file][:filename] %></b> = <%= md5sum %></p>
    <table>
      <tr>
        <th>File Name</th>
        <th>Size</th>
        <th>Time taken</th>
      </tr>
      <tr>
        <td><%= params[:file][:filename] %></td>
        <td><%= file_size %> </td>
        <td><%= time_taken.round(4) %>(milliseconds)</td>
      </tr>
    </table>
  </body>
</html>
